:root { /* Root styles */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; /* Font family */
  line-height: 1.5; /* Line height */
  font-weight: 400; /* Font weight */

  color-scheme: light dark; /* Support light and dark mode */
  color: rgba(255, 255, 255, 0.87); /* Text color */
  background-color: #242424; /* Background color */

  font-synthesis: none; /* Disable font synthesis */
  text-rendering: optimizeLegibility; /* Optimize text rendering */
  -webkit-font-smoothing: antialiased; /* Smooth font on WebKit browsers */
  -moz-osx-font-smoothing: grayscale; /* Smooth font on Firefox for macOS */
}

a {
  font-weight: 500; /* Font weight for links */
  color: #646cff; /* Link color */
  text-decoration: inherit; /* Inherit text decoration from parent */
}
a:hover { /* Hover effect for links */
  color: #535bf2; /* Darker blue on hover */
}

body { /* Body styles */
  margin: 0; /* No margin */
  display: flex; /* Use flexbox, display means how to display an element, flex means flexible box layout */
  place-items: center; /* Center items both vertically and horizontally */
  min-width: 320px; /* Minimum width */
  min-height: 100vh; /* Minimum height: 100% of viewport height */
}

h1 { /* Heading 1 styles */
  font-size: 3.2em; /* Font size */
  line-height: 1.1; /* Line height */
}

button { /* Button styles */
  border-radius: 8px; /* Rounded corners */
  border: 1px solid transparent; /* Transparent border */
  padding: 0.6em 1.2em; /* Padding inside button  0.6em top/bottom and 1.2em left/right */
  font-size: 1em; /* Font size  em means relative to the font size of the parent element */
  font-weight: 500; /* Font weight */
  font-family: inherit; /* Inherit font family from parent */
  background-color: #1a1a1a; /* Dark background */
  cursor: pointer; /* Pointer cursor on hover */
  transition: border-color 0.25s; /* Smooth transition for border color over 0.25 seconds */
}
button:hover { /* Hover effect for button */
  border-color: #646cff; /* Change border color on hover */
}
button:focus, /* Focus effect for button */
button:focus-visible { /* Focus-visible effect for button */
  outline: 4px auto -webkit-focus-ring-color; /* Outline for accessibility */
}

@media (prefers-color-scheme: light) { /* If user prefers light color scheme */
  :root { /* Root styles for light mode */
    color: #213547; /* Dark text color */
    background-color: #ffffff; /* Light background color */
  }
  a:hover { /* Hover effect for links in light mode */
    color: #747bff; /* Lighter blue on hover */
  }
  button { /* Button styles for light mode */
    background-color: #f9f9f9; /* Light background */
  }
}
